/*-------------- about -----------------*/
.about{
	box-shadow: 0px 2px 16px 0px rgba(185, 200, 207, 0.42);
	padding: 92px 0 40px;

	&__img{text-align: center;}
}

@media (max-width: 991px) {
	.about{padding: 70px 0;}
}

@media (max-width: 767px) {
	.about{
		padding: 40px 0;

		&__img{
			max-width: 80%;
			margin: 0 auto 20px;
		}
	}
}