/*-------------- advant -----------------*/
.advant-wrap{
	padding: 0 0 115px;
}

.advant{
	background: #fff;
	border-radius: 20px 3px 20px 3px;
	box-shadow: 0px 2px 16px 0px rgba(185, 200, 207, 0.42);
	padding: 20px 0;
}

.advant-item{
	text-align: center;
	margin: 32px 0;

	&__icon{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		margin-bottom: 5px;

		.icon{
			max-height: 100%;
			fill: #000;
		}
	}

	&__text{
		@include font(none, bold, 2.3rem, 1.2, none);
	}

	&__text_line{text-decoration: underline;}
}

@media (max-width: 767px) {
	.advant-wrap{padding-bottom: 40px;}

	.advant-item{
		margin: 18px 0;
		&__icon{height: 40px;}
		&__text{font-size: 1.4rem;}
	}
}