/*-------------- certificate -----------------*/
.certificates{
	margin-top: 50px;

	h2, .h2{margin-bottom: 2rem;}
}

.certif-slider{
	display: none;
	margin-left: -10px;
	margin-right: -10px;

	&.slick-initialized{display: block;}
	.slick-track{display: flex;}

	.slick-slide{
		height: auto;
		margin: 0 10px;
	}

	.slick-slide > div,
	.slick-slide .news-item{
		height: 100%;
	}

	&__item{
		display: block;
		text-align: center;
		text-decoration: none;
		cursor: zoom-in;

		img{display: inline-block;}
	}
}