/*-------------- form-site -----------------*/
.form-site{
	&__title{
		@include font(none, bold, 2.2rem, 1.375, none);
		text-align: center;
		margin-bottom: 10px;
	}

	&__text{
		@include font(none, none, 1.6rem, 1.375, none);
		text-align: center;
		margin-bottom: 20px;
	}
	
	&__item{
		width: 100%;
		margin-bottom: 20px;
	}

	&__item.error{position: relative;}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-flex;
		align-items: center;
		height: 5.3rem;
		width: 100%;
		font-family: $font-site;
		@include font(none, none, 1.6rem, 1.2, $color-text);
		padding: 0 20px; 
		border-radius: 3px;
		border: 2px solid #e8e8e8;
		background: #fff;
		outline: none;
		margin: 0;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 10.4rem;
		line-height: 1.6;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	&__item.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			border-color: #fc6262;
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		textarea::placeholder{
			color: $color-red;
			opacity: 1;
		}
	}

	&__polit{
		@include font(none, none, 1.4rem, 1.375, none);
		text-align: center;
		margin-top: 30px;
	}

	.form-site-msg-error{
		@include font(none, none, 1.4rem, 1.2, $color-red);
		margin-top: 5px;
		position: absolute;
		top: 100%;
		left: 0;
	}

	&__bottom{margin-top: 30px;}

	&__btn{
		text-align: center;

		.btn{width: 100%;}
	}

	&_hor{
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"]{
			height: 4.2rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		textarea{
			font-size: 1.4rem;
		}
	}

	&_hor &__title{
		font-size: 2.6rem;
		text-align: left;
		margin-bottom: 22px;
	}

	&_hor &__text{text-align: left;}

	&_hor &__content{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
	}

	&_hor &__col{
		width: calc(38% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}

	&_hor &__col_long{width: calc(62% - 20px);}

	&_hor &__bottom{
		display: flex;
		align-items: center;
		margin: 0 -10px;
	}

	&_hor &__btn{
		flex-shrink: 0;
		width: calc(38% - 20px);
		margin: 0 10px;
	}

	&_hor &__polit{
		margin: 0 10px;
		text-align: left;
	}
}

.success-alert{
	width: 770px;
	text-align: center;

	&__title{
		@include font(none, bold, 2.2rem, 1.375, none);
		margin-bottom: 12px;
	}

	&__text{
		@include font(none, none, 1.6rem, 1.375, none);
		margin-bottom: 30px;
	}

	.btn{width: 378px;}
}

.popup-form{
	width: 770px;
	max-width: 100%;

	.form-site{
		&__content,
		&__bottom{
			max-width: 378px;
			margin: 0 auto;
		}

		&__content{margin-top: 50px;}
	}
}

@media (max-width: 767px) {
	.form-site{
		text-align: center;

		&__text{font-size: 1.4rem;}

		&_hor &__content{
			display: block;
			margin-left: 0;
			margin-right: 0;
		}

		&_hor &__title{
			font-size: 2.4rem;
			text-align: center;
		}

		&_hor &__col{
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}

		&_hor &__bottom{
			display: block;
			margin: 0;
		}

		&_hor &__btn{
			width: auto;
			margin: 0;
		}

		&_hor &__polit{
			text-align: center;
			margin-top: 15px;
		}
	}

	.popup-form{
		.form-site{
			&__content{margin-top: 30px;}

			&__polit{
				font-size: 1.2rem;
				margin-top: 15px;
			}
		}
	}
}