/*-------------- form-site -----------------*/
.form-site{
	// position: relative;

	&__title{
		@include font(none, bold, 2.2rem, 1.375, none);
		text-align: center;
		margin-bottom: 30px;
	}

	&__text{
		@include font(none, none, 1.6rem, 1.375, none);
		text-align: center;
		margin-bottom: 20px;
	}
	
	&__item{
		width: 100%;
		margin-bottom: 20px;
	}

	&__item.error{position: relative;}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-flex;
		align-items: center;
		height: 5.3rem;
		width: 100%;
		font-family: $font-site;
		@include font(none, none, 1.6rem, 1.2, $color-text);
		padding: 0 20px; 
		border-radius: 3px;
		border: 2px solid #e8e8e8;
		background: #fff;
		outline: none;
		margin: 0;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 10.4rem;
		line-height: 1.6;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	&__item.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			border-color: #fc6262;
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		textarea::placeholder{
			color: $color-red;
			opacity: 1;
		}
	}

	&__polit{
		@include font(none, none, 1.4rem, 1.375, none);
		text-align: center;
		margin-top: 30px;
	}

	.form-site-msg-error{
		@include font(none, none, 1.4rem, 1.2, $color-red);
		margin-top: 5px;
		position: absolute;
		top: 100%;
		left: 0;
	}

	&__bottom{margin-top: 30px;}

	&__btn{
		text-align: center;

		.btn{width: 100%;}
	}

	&_hor{
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"]{
			height: 4.2rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		textarea{
			font-size: 1.4rem;
		}
	}

	&_hor &__title{
		font-size: 2.6rem;
		text-align: left;
		margin-bottom: 22px;
	}

	&_hor &__text{text-align: left;}

	&_hor &__content{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
	}

	&_hor &__col{
		width: calc(38% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}

	&_hor &__col_long{width: calc(62% - 20px);}

	&_hor &__bottom{
		display: flex;
		align-items: center;
		margin: 0 -10px;
	}

	&_hor &__btn{
		flex-shrink: 0;
		width: calc(38% - 20px);
		margin: 0 10px;
	}

	&_hor &__polit{
		margin: 0 10px;
		text-align: left;
	}
}

.success-alert{
	width: 378px;
	text-align: center;

	&__title{
		@include font(none, bold, 2.2rem, 1.375, none);
		margin-bottom: 20px;
	}

	&__text{
		@include font(none, none, 1.6rem, 1.375, none);
		margin-bottom: 30px;
	}
}

.popup-form{
	width: 770px;
	max-width: 100%;

	.form-site{
		&__content{
			max-width: 378px;
			margin: 0 auto;
		}
	}
}

// .form-page{
// 	background: linear-gradient(180deg, #181818 0%, #383838 100%);
// 	color: #fff;
// 	padding: 50px 0;
// 	position: relative;

// 	&::before{
// 		content: '';
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 		background: url(../img/bg-phone.png) no-repeat top center;
// 		opacity: 0.3;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 	}

// 	.form-site{
// 		&__title{color: #fff;}
// 		&__label{color: #fff;}
// 	}
// }

// @media (min-width: 768px) {
// 	.form-site{
// 		&__content{
// 			display: flex;
// 			flex-wrap: wrap;
// 			margin-left: -10px;
// 			margin-right: -10px;
// 		}

// 		&__title{
// 			font-size: 3rem;
// 			margin-bottom: 38px;
// 		}

// 		&__text{margin-bottom: 44px;}

// 		&__item{
// 			width: calc(100% - 20px);
// 			margin-left: 10px;
// 			margin-right: 10px;
// 			margin-bottom: 25px;
// 		}
		
// 		&__item_half{width: calc(50% - 20px);}
// 		&__col{width: 50%;}

// 		input[type="text"],
// 		input[type="email"],
// 		input[type="number"],
// 		input[type="password"],
// 		textarea{
// 			font-size: 1.6rem;
// 		}

// 		textarea{height: 12.5rem;}

// 		&__btn{
// 			text-align: left;
// 			.btn{width: auto;}
// 		}

// 		&__item_full-height{
// 			display: flex;
// 			flex-direction: column;
// 			height: calc(100% - 25px);
// 		}

// 		&__item_full-height &__field,
// 		&__item_full-height textarea{
// 			height: 100%;
// 		}

// 		&__polit{margin-top: 8px;}
// 	}

// 	.success-alert{
// 		&__title{font-size: 3rem;}
// 		&__text{font-size: 1.6rem;}
// 	}

// 	.form-page{
// 		padding: 77px 0;

// 		.form-site{
// 			&__title{
// 				text-align: left;
// 				margin-bottom: 22px;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1160px) {
// 	.form-site{
// 		&__col{width: calc(50% - 19px);}
// 	}
// }

// @media (min-width: 1340px) {
// 	.form-page{
// 		&::before{background-position: top right;}
// 	}

// 	.form-site{
// 		&__text{max-width: 1010px;}
// 	}
// }
