/*-------------- services -----------------*/
.services-wrap{
	padding: 58px 0 100px;

	&__more{margin-top: 12px;}
}

.services-sect{
	margin-bottom: 55px;

	&__top{
		display: flex;
		align-items: center;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		margin-right: 20px;
	}

	&__title{
		@include font(none, bold, 2rem, 1.2, $color-text);

		a{
			color: $color-text;
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: $color-orange;}
	}

	&__list{
		margin-top: 15px;
		border: 2px solid #e6ebed;
	}

	&__item{
		display: flex;
		align-items: center;
		min-height: 4.8rem;
		padding: 5px 20px;
		background: #fff;
		@include font(none, none, 1.4rem, 1.2, $color-text);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__item:not(:last-child){border-bottom: 2px solid #e6ebed;}

	&__item:hover{
		background: #f6f8f9;
		color: #9e9e9e;
	}
}

.services-sect-more{
	display: inline-flex;
	align-items: center;
	margin-top: 20px;
	@include font(none, bold, 1.3rem, 1.5, #9e9e9e);
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.2s ease 0s;

	&__text{margin-right: 5px;}
	&__icon{flex-shrink: 0;}

	.icon{
		fill: $color-text;
		margin-left: 5px;
	}

	.ic-eye{margin-top: -5px;}
	&:hover{color: $color-text;}
}

.serv-sect-wrap{
	&:not(:first-child){margin-top: 70px;}
}

.serv-sect{
	display: flex;
	flex-wrap: wrap;

	&__item{
		display: block;
		width: calc(33% + 4px);
		margin-right: -2px;
		margin-bottom: -2px;
		border: 2px solid #e6ebed;
		padding: 38px 34px 27px;
		text-decoration: none;
		transition: border 0.2s ease 0s;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		margin-bottom: 27px;

		.icon{max-height: 100%;}
	}

	&__title{
		@include font(none, bold, 1.8rem, 1.2, $color-text);
		transition: color 0.2s ease 0s;
	}

	&__item:hover{
		position: relative;
		border-color: $color-orange;
	}

	&__item:hover &__title{color: $color-orange;}
}

.serv-subsect{
	border-radius: 3px;
	border: 2px solid #e6ebed;

	&__item{
		display: block;
		padding: 15px 20px 14px;
		@include font(none, none, 1.4rem, 1.2, $color-text);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__item:not(:last-child){border-bottom: 2px solid #e6ebed;}
	&__item:hover{color: $color-orange;}
}

@media (max-width: 991px) {
	.services-wrap{padding: 58px 0 80px;}

	.serv-sect{
		&__item{width: calc(50% + 2px);}
	}
}

@media (max-width: 767px) {
	.services-wrap{
		padding: 40px 0 50px;
		&__more{margin-top: 0;}
	}

	.services-sect{
		margin-bottom: 45px;
		&__title{font-size: 1.6rem;}
	}

	.serv-sect{
		&__item{
			width: 100%;
			margin-right: 0;
			padding: 25px 15px;
		}

		&__icon{
			width: 40px;
			height: 40px;
			margin-bottom: 15px;
		}

		&__title{font-size: 1.6rem;}
	}
}