extends ../layout/main

block variables
	- var title = 'Статья детальная';
	- var h1 = 'Обследование техического состояния УООТС объектов';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Статьи'},
			{href:'#',name:'Обследование техического состояния УООТС объектов'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.news-detail
		.container
			.row
				.col-12
					img(src="assets/img/news-detail1.jpg", alt="").img-border

					p 
						b Проведение обследования состояния уникальных и особо опасных объектов является основной задачей для обеспечения безопасности работы и проводится не реже, чем один раз в десять лет. 
						br
						|В случае если такой объект возведен в сейсмоопасной или другой неблагоприятной зоне его обследование должно проводиться в два раза чаще. Значимость того, насколько надежно состояние особо опасного объекта, понятна каждому человеку, последствия аварийной ситуации способны принять грандиозный масштаб и причинить огромный ущерб в масштабах не только города, го и государства. Поэтому чрезвычайно важно проводить такое обследование строго по установленному графику, а в некоторых случаях – и в досрочном порядке.

					p Подобное обследование проводится в соответствии с правилами и инструкциями, которые утверждены на законодательном уровне. Вначале проводится визуальное обследование, которое включает изучение документации объекта, исследование материалов конструкции и отделки, проверка наличия видимых дефектов, а также обследование зон, которые подвержены наибольшему воздействию негативных факторов. После этого проводится детальное обследование конструкций на наличие дефектов, а также возможных их изменений во время эксплуатации. Полное обследование таких объектов проводится после возникновения форс-мажорных обстоятельств, таких как пожары, землетрясения, наводнения, а также после окончания срока эксплуатации таких объектов. Во время обследования конструкций производится также оценка условий эксплуатации объекта, которые непосредственно влияют на его техническое состояние. В случае повреждения отдельных конструкций или после форс-мажорных ситуаций, необходимо произвести проверочный расчет, который представляет собой промежуточный этап для оценки технического состояния всего объекта.

					.row.img-border-wrap
						.col-sm-6
							img(src="assets/img/news-detail2.jpg", alt="").img-border

						.col-sm-6
							img(src="assets/img/news-detail3.jpg", alt="").img-border

					p Обследование уникальных и особо опасных, а также технически сложных объектов производит компания «Строй-Эксперт», которая является лидером в данной области. Эксперты компании не только произведут обследование, в том числе и лабораторное, но и предоставят рекомендации, выполнение которых будет способствовать повышению безопасности объекта. 
						br
						b Заказать услуги экспертов можно по телефону. Их стоимость определяется сложностью самих объектов и их количеством.

					.news-detail__date 12.12.2020

	section.subscribe.bg-grey.last-elem
		.container
			.row
				.offset-lg-2.col-lg-8
					.js-valid-form
						form.form-line.form-line_small
							.form-line__content
								.form-line__fields
									.form-line__item.js-form-site-item
										input(type="email", required="required", placeholder="Введите Ваш e-mail, чтобы подписаться на рассылку *")

								.form-line__btn
									button(type="submit").btn.js-btn-submit Подписаться
							
							.form-line__polit Нажимая кнопку «Подписаться» Вы соглашаетесь на обработку Ваших персональных данных