extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'works.html',name:'Выполненные работы'},
			{href: 'work-detail.html',name:'Выполненная работа'},
			{href: 'news.html',name:'Новости'},
			{href: 'news-detail.html',name:'Новость детальная'},
			{href: 'articles.html',name:' Статьи'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


