extends ../layout/main

block variables
	- var title = 'Услуги';
	- var h1 = 'Услуги нашей компании';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Услуги'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.serv-sect
		.container
			.row
				.col-12
					.serv-sect__list
						-
							var list=[
								{icon:'ic-hotel', icon_width:'60', icon_height:'60', text:'Техническое обследование зданий и сооружений, опасных производственных объектов'},
								{icon:'ic-nuclear-plant', icon_width:'60', icon_height:'60', text:'Техническое обследование объектов энергетики.'},
								{icon:'ic-government', icon_width:'60', icon_height:'60', text:'Техническое обследование объектов культурного наследия (ОКН)'},
								{icon:'ic-teamwork', icon_width:'60', icon_height:'60', text:'Мониторинг строительных объектов'},
								{icon:'ic-escalator', icon_width:'60', icon_height:'56', text:'Сопровождение строительства'},
								{icon:'ic-crane', icon_width:'60', icon_height:'60', text:'Строительная экспертиза'},
								{icon:'ic-architecture', icon_width:'60', icon_height:'60', text:'Строительное проектирование '},
								{icon:'ic-insurance', icon_width:'60', icon_height:'60', text:'Строительный контроль'},
								{icon:'ic-ground', icon_width:'60', icon_height:'60', text:'Неразрушающий контроль'},
							]
						each item in list
							a(href="#").serv-sect__item
								.serv-sect__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)
								.serv-sect__title= item.text

	section.works-wrap
		.container
			.row
				.col-12
					h2 Выполненные нами работы

			.row
				-
					var list=[
						{img:'work1.jpg', text:'Очистные сооружения ПО «Киришинефтеоргсинтез»'},
						{img:'work2.jpg', text:'Определение соответствия правилам технической безопасности различных объектов завода'},
						{img:'work3.jpg', text:'Экспертиза монолитных ж.б. конструкций здания «Сбербанка» в Великом Новгороде'},
						{img:'work4.jpg', text:'Грануляционные башни производства НАФ (г. Великий Новгород)'},
						{img:'work5.jpg', text:'Обследование межцеховых и внутрицеховых эскалад цеха аммиачной селитры (Смоленская область)'},
						{img:'work6.jpg', text:'Техническое диагностирование печи первичного риформинга цеха аммиака'},
					]
				each item in list
					.col-sm-6.col-lg-4
						a(href="#").work-item(style="background-image: url(assets/img/"+item.img+")")
							.work-item__content
								.work-item__text= item.text
								.work-item__more Подробнее
									+svg('ic-eye','ic-eye', '24', '20')

			.row
				.col-12
					.works-wrap__more
						a(href="#").btn.btn_radius Смотреть все работы