extends ../layout/main

block variables
	- var title = 'Услуга детальная';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Услуги'},
			{href:'#',name:'Экспертиза промышленной безопасности'},
			{href:'#',name:'Экспертиза промышленной безопасности зданий'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.service-detail
		.container
			.service-detail__top
				.row
					.col-md-5.col-lg-4
						ul.left-menu
							-
								var list=[
									{text:'Визуальное обследование зданий и сооружений'},
									{text:'Экспертиза промышленной безопасности зданий', status:'active'},
									{text:'Заключение о соответствии (ЗОС)'},
									{text:'Комплексное техническое обследование зданий и сооружений'},
									{text:'Гидротехническое обследование'},
								]
							each item in list
								li.left-menu__item(class=item.status?'active':'')
									a(href="#").left-menu__link= item.text

					.col-md-7.col-lg-8
						h1 Экспертиза промышленной безопасности зданий

						.gallery-slider.js-gal-serv-slider
							-
								var list=[
									{img:'work-slide1.jpg'},
									{img:'work-slide2.jpg'},
									{img:'work-slide3.jpg'},
									{img:'work-slide2.jpg'},
									{img:'work-slide1.jpg'},
									{img:'work-slide3.jpg'},
								]
							each item in list
								a(data-fancybox='gallery', data-src='assets/img/'+item.img).gallery-slider__item
									.gallery-slider__img(style="background-image: url(assets/img/"+item.img+")")

			.row
				.col-12
					.service-detail__desc
						p Экспертиза промышленной безопасности зданий проводится по разработанным методикам обследования с целью определить актуальное состояние строительных конструкций и их элементов, а также составить перечень мероприятий по устранению имеющихся дефектов и повреждений и предупредить их возникновение в дальнейшем.

						p <span class="text-orange">Проведение экспертизы промышленной безопасности</span> включает в себя визуальное и инструментальное обследование элементов оборудования и строительных конструкций зданий, поверочные расчеты, расчет остаточного ресурса объекта экспертизы и разработку мероприятий по продлению срока безопасной эксплуатации. При необходимости мы проводим также <span class="text-orange">тепловизионное обследование зданий</span> на предмет скрытых дефектов. По завершению работ оформляется заключение, в котором указано техническое состояние объекта и возможность его дальнейшего использования. Материалы ЭПБ согласовывают с Заказчиком и регистрируют в органах Ростехнадзора путем внесения в специальный реестр.

						h4 Документация для проведении ЭПБ зданий и сооружений

						ol
							li Документация по проектам, а также различные акты приемки сооружений и зданий в эксплуатацию.
							li Разрешение здания на ввод в кэсплуатацию.
							li Заключения предыдущих экспертиз и документы, которые подтверждают проведение работ по обеспечению безопасности использования конструкций.
							li Технический паспорт и сертификаты, в которых описаны конструкции и материалы.
							li Акты возможных аварий и изменений технологических процессов, которые повлияли на условия использования сооружений.
							li Ремонтная и другая документация, а также установленные сроки на использование сооружений.

	
	section.service-form
		.container
			.row
				.col-12
					.service-form__content
						.row
							.offset-lg-2.col-lg-8
								.js-valid-form
									form.form-line
										.form-line__title Оставьте заявку на услугу
											br
											span.text-orange Экспертиза промышленной безопасности зданий

										.form-line__content
											.form-line__fields
												.form-line__item.js-form-site-item
													input(type="text", required="required", placeholder="Ваш номер телефона *", class="js-phone")

											.form-line__btn
												button(type="submit").btn.js-btn-submit Оставить заявку
										
										.form-line__polit Нажимая кнопку «оставить заявку» вы соглашаетесь на обработку Ваших персональных данных

	section.works-slider-wrap
		.container
			.row
				.col-12
					h3 Выполненные нами работы

					.works-slider.js-works-slider
						-
							var list=[
								{img:'work1.jpg', text:'Очистные сооружения ПО «Киришинефтеоргсинтез»'},
								{img:'work2.jpg', text:'Определение соответствия правилам технической безопасности различных объектов завода'},
								{img:'work3.jpg', text:'Экспертиза монолитных ж.б. конструкций здания «Сбербанка» в Великом Новгороде'},
								{img:'work4.jpg', text:'Грануляционные башни производства НАФ (г. Великий Новгород)'},
								{img:'work5.jpg', text:'Обследование межцеховых и внутрицеховых эскалад цеха аммиачной селитры (Смоленская область)'},
								{img:'work6.jpg', text:'Техническое диагностирование печи первичного риформинга цеха аммиака'},
							]
						each item in list
							a(href="#").work-item
								.work-item__bg(style="background-image: url(assets/img/"+item.img+")")
								.work-item__content
									.work-item__text= item.text
									.work-item__more Подробнее
										+svg('ic-eye','ic-eye', '24', '20')


	section.service-other
		.container
			.row
				.col-12
					h3 Похожие услуги

					.serv-subsect
						-
							var list=[
								{text:'Визуальное обследование зданий и сооружений'},
								{text:'Гидротехническое обследование'},
								{text:'Заключение о соответствии (ЗОС)'},
								{text:'Комплексное техническое обследование зданий и сооружений'},
								{text:'Гидротехническое обследование'},
							]
						each item in list
							a(href="#").serv-subsect__item= item.text

	