//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site:  Arial, sans-serif;

// Site
$color-text: #000;
$color-orange: #ff6700;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px,
  xxl: 1600px
) !default;
     
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1190px,
  xxl: 1190px
) !default;

$grid-gutter-width: 30px !default;