html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.375, $color-text);
	box-sizing:border-box;
}

body{font-size: 1.6rem;}

body.no-scroll{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-orange;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5{
	font-weight: bold;
}

h1,.h1{
	font-size: 3.2rem;
	margin-bottom: 4rem;
}

h2,.h2{
	font-size: 3.2rem;
	margin-bottom: 4rem;
}

h3,.h3{
	font-size: 2rem;
	margin-bottom: 1rem;
}

h4,.h4{
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

h5,.h5{
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

h2 + p, .h2 + p{margin-top: -2.5rem;}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;

	*,
	*:before,
	*:after {
		scrollbar-color: rgb(172, 178, 195) rgba(242, 243, 245, 0.75);
		scrollbar-width: thin;
	}

	::-webkit-scrollbar-button {
		width:8px;
		height:0px
	}
	
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: #acb2c3;
	}
	
	::-webkit-scrollbar-track{background-color:#ecedee}
	::-webkit-scrollbar-thumb:hover{background-color: #acb2c3}
	::-webkit-scrollbar{width: 8px; height: 8px;}
}

main{
	flex: 1 1 auto;
	padding-bottom: 76px;
	width: 100%;
}

.last-elem{margin-bottom: -76px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
	height: 4.2rem;
	border-radius: 3px;
	border: none;
	outline: none;
	@include font(normal, bold, 1.3rem, 1.2, #fff);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 5px 35px;
	cursor: pointer;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
	background-image: linear-gradient(to right, rgba(255,166,0,1) 0%, rgba(255,103,0,1) 50%, rgba(255,166,0,1) 100%);
	background-size: 200% auto;
	background-position: right center;
	position: relative;
	transition: all 0.3s ease 0s;

	&:hover{
		color: #fff;
		background-position: left center;
		box-shadow: 0px 10px 10px 0px rgba(255,104,0,0.3);
	}

	&_radius{border-radius: 3px 15px 3px 15px;}

	&_white{
		background: #fff;
		color: #31393d;
		font-weight: bold;
	}

	&_white:hover{color: #31393d;}

	&_small{height: 3.5rem;}
}

.btn{
	.icon{
		flex-shrink: 0;
		fill: #fff;
	}

	.icon.ic-stroke{stroke: #fff;}
	// .ic-arrow-left{transition: all 0.2s ease 0s;}
	// &:hover .ic-arrow-left{transform: translateX(10px);}

	&_white .icon{fill: $color-text;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.bg-grey{background: #f6f8f9;}

.link-more{
	display: inline-flex;
	align-items: center;
	text-decoration: none;

	&__text{
		@include font(none, bold, 1.3rem, 1.375, $color-text);
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 10px;
		transition: color 0.2s ease 0s;
	}

	&__icon{
		flex-shrink: 0;
		padding-bottom: 2px;

		.icon{
			fill: $color-text;
			transition: all 0.2s ease 0s;
		}
	}

	&:hover &__text{color: $color-orange;}

	&:hover &__icon .icon{
		fill: $color-orange;
		transform: translateX(5px);
	}

	&_orange &__text{color: $color-orange;}
	&_orange &__icon .icon{fill: $color-orange;}
	&_orange:hover &__text{color: $color-text;}
	&_orange:hover &__icon .icon{fill: $color-text;}
}

.img-border{border-radius: 3px 20px 3px 20px;}
.img-border-wrap{margin-top: 30px;}

@media (max-width: 767px) {
	body{font-size: 1.4rem;}

	.h1, h1{
		font-size: 2.6rem;
		margin-bottom: 3rem;
	}
	
	.h2, h2{
		font-size: 2.6rem;
		margin-bottom: 3rem;
	}

	h2 + p, .h2 + p{margin-top: -1.5rem;}

	ol, p, ul{margin-bottom: 1.5rem;}

	main{padding-bottom: 60px;}
	.last-elem{margin-bottom: -60px;}

	.container{
		max-width: 100%!important;
		padding-left: 15px;
		padding-right: 15px;
	}
}